@import "../../../src/styles/color.scss";
@import "../../../src/styles/utils.scss";
@import "../../../src/styles/font.scss";
$doromariUrl: url('/img/doromari 1.png');
$bookBlankUrl: url('/img/bookBlank_content_small.png');


* {
    font-family: $font-body;
}

.quiz-page {
    height: 100vh;
    max-height: 720px;

    .quiz-wrapper {
        box-sizing: border-box;
        display: flex;
        flex-direction: column; 
        gap: 20px; // quesion과 options 간격
    
        width: 100%;
        height: calc(100vh - 110px); // 95...대충 끼워맞춤.. button-container 빼고 여백 빼고...
        margin: 0px auto;
        padding: 30px;

        // 스크롤 
        overflow: auto; 
    
        .quiz-container {
            height: auto;
            @include wrapper-width;
            @include place-center;
            flex-direction: column; 

            // border: 1px solid $color-primary;
            
            h2 {
                color: $color-primary;
            }

            p {
                font-family: $font-body;
                font-size: $font-size-p;
            }

            span {
                font-family: $font-body;
                font-size: 2.1rem; 
                font-weight: bolder;
            }

            .txt-primary {
                color: $color-primary;
            }
        }

        .quiz-question {
            background: $doromariUrl;
            background-size: 100% 100%; 
            // background-repeat: no-repeat;
            // background-position: center; 
            min-height: 35%;

            padding-top: 50px;
            padding-bottom: 50px;
            padding-left: 120px;
            padding-right: 60px;

            // margin-bottom: 30px;
        }

        .quiz-container1 img {
            @include wrapper-width;
        }

        .quiz-options {
            background: $bookBlankUrl;
            background-size: 100% 100%; 
            // background-repeat: no-repeat;
            // background-position: center; 
            min-height: 20%;

            padding: 0px 60px;

            .options-container {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                width: 100%;
                
                .options-item {
                    font-family: $font-body;
                    font-size: 1.6em;

                    @include place-left;
                    gap: 22px; // input radio랑 텍스트 간격

                    p {
                        text-align: left;
                    }
                }
            }
        }
    }

    .button-container {
        display: flex;
        justify-content: space-between;

        margin-top: 

        Button {
            font-family: $font-body;
            font-size: $font-size-button;
        }

        Button:disabled {
            cursor: not-allowed;
            background-color: $color-disabled;
        }
    }
}
  
  
/** 모바일 화면 */
@media screen and (max-width: 480px) {
    .house-button {
        font-size: 24px; 
    }
}