@import "../../../src/styles/color.scss";
@import "../../../src/styles/utils.scss";
@import "../../../src/styles/font.scss";
$doromariUrl: url('/img/doromari 1.png');
$bookBlankUrl: url('/img/bookBlank_content_small.png');

* {
    font-family: $font-body;
}

.chart-page {
    height: 100vh;
    max-height: 720px;

    .chart-wrapper {
        box-sizing: border-box;
        display: flex;
        flex-direction: column; 
        gap: 20px; // quesion과 options 간격
    
        @include wrapper-width;
        height: calc(100vh - 4rem); // button-container 높이와 여백 뺀 값
        margin: 0px auto;

        overflow: auto; // 스크롤 

        .title-wrapper {
            display: flex;
            justify-content: space-between;

            .chart-title {
                h1 {
                    font-family: $font-title;
                    font-size: $font-size-h;
                    font-weight: 900;
                    text-align: left;
                }

                p {
                    font-family: $font-body;
                    font-size: $font-size-p;
                    text-align: left;
                }
            }

            .risk-examples {
                display: flex;
                justify-content: space-around;
                align-items: flex-end;
                gap: 30px;
                margin-right: 10px;

                .risk-examples-item {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    p {
                        font-family: $font-body;
                        font-size: $font-size-small;
                        font-weight: 900;
                    }
                }

                .risk-high {
                    color: $color-red-font;
                }

                .risk-mid {
                    color: $color-orange-font;
                }

                .risk-low {
                    color: $color-sky-font;
                }
            }
        }

        .chart-container {
            height: 70px;
            // @include wrapper-width;
            @include place-center;
            
            // 좌우 화살표 버튼
            button {
                background-color: transparent;
                border: none;
                color: $color-ashbrown;

                padding: 0px;
            }

            // 찐 차트
            .chart-risk-changes {
                // overflow-x: scroll;
                // border: 1px solid $color-black;
                z-index: 1;

                overflow-x: auto;
            }
        }

        .container-bookBlank {
            background: $bookBlankUrl;
            background-size: 100% 100%; 
            min-height: 20%;
            
            padding: 0px 45px;
            
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }

        .bookmark-month {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }

        .container-doromari {
            background: $doromariUrl;
            background-size: 100% 100%; 
            // min-height: 35%;

            padding-top: 60px;
            padding-bottom: 60px;
            padding-left: 120px;
            padding-right: 60px;

            // margin-bottom: 30px;
        }
        
    }
}