@import "../../src/styles/color.scss";
@import "../../src/styles/utils.scss";
@import "../../src/styles/font.scss";


* {
    font-family: $font-body;
}

.risk-circle {
    // 가로 세로 비율 1:1로 고정
    // max-width: 4.4rem; 
    // max-height: 4.4rem;
    width: 24%;
    padding-bottom: 24%;
    position: relative;

    background-color: $color-red;
    border: 1.5px solid $color-gray;
    border-radius: 50%;

    @include place-center;
    
    // 텍스트 테두리 설정
    // -webkit-text-stroke-width: 0.001px;
    // -webkit-text-stroke-color: black;

    .content {
        font-family: $font-body;
        font-weight: 900;
        font-size: 0.9em;
        color: $color-white;
    }
}